@require 'common'
body
  background: url('../images/bg.png')
button
  outline:none
.index
  text-align: center
  margin-top: 2rem
.index .num
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857143
  color: white
  background-color: #6F6F6F
  background-image: none
  border: 1px solid #ccc
  border-radius: 4px
  text-align: center

.index .btn-start
  display: inline-block
  padding: 6px 18px
  margin-bottom: 0
  font-size: 14px
  font-weight: 400
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: 4px
  color: #fff
  background-color: #EACC35
  border-color: #33393F

.index .milky
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif
  text-transform: uppercase
  font-size: 30px
  color: #f1ebe5
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff
  font-weight: bold
  text-align: center
  border-radius: 20px
  margin-top:-20px
  padding-bottom: 20px

button.punch 
  background: #1B1D20
  border-top: 1px solid #282727
  border-right: 1px solid #323232
  border-bottom: 1px solid #1C1F27
  border-left: 1px solid #1E212C
  border-radius: 4px
  box-shadow: inset 0 1px 10px 1px #434344, 0 1px 0 #242525, 0 6px 0 #202122, 0 8px 4px 1px #111
  color: #B2B1B1
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif
  margin-bottom: 10px
  padding: 10px 0 12px 0
  text-align: center
  text-shadow: 0 -1px 1px #0F1A34
  width: 150px
  -webkit-background-clip: padding-box


  
button.punch:active 
  -webkit-box-shadow: inset 0 1px 10px 1px #434344, 0 1px 0 #242525, 0 2px 0 #202122, 0 4px 3px 0 #111111
  box-shadow: inset 0 1px 10px 1px #434344, 0 1px 0 #242525, 0 2px 0 #202122, 0 4px 3px 0 #111111
